<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="fw-bold text-primary mt-5">
                blabber.
            </h1>


            <h2 class="mb-4 mt-4">Create your new blabber</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="input-group mb-3">
                    <span class="input-group-text">@</span>
                    <div class="form-floating">
                        <%= f.text_field :handle, autofocus: true, placeholder: "username", class: "form-control" %>
                        <%= f.label :handle %>
                    </div>
                </div>

                <div class="mb-3 form-floating">
                    <%= f.email_field :display_name, placeholder: "name", class: "form-control" %>
                    <%= f.label :display_name %>
                    <div class="form-text">
                        This how your name will appear to other users on your profile.
                    </div>
                </div>

                <div class="mb-3 form-floating">
                    <%= f.email_field :email, autocomplete: "email", placeholder: "hello@email.com", class: "form-control" %>
                    <%= f.label :email %>
                </div>

                <div class="mb-3 form-floating">
                    <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", class: "form-control" %>
                    <%= f.label :password %>
                </div>

                <div class="form-floating">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password", class: "form-control" %>
                    <%= f.label :password_confirmation %><br />
                </div>

                <div class="">
                    <%= f.submit "Sign up", class: "btn btn-primary" %>
                </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
