<div class="card mb-4">
    <div class="card-body">
        <div>
            <h4>
                <%= user.display_name %>
            </h4>
            <h6 class="text-secondary mt-n2">
                @<%= user.handle %>
            </h6>
        </div>

        <hr/>

        <div>
            <%= user.bio %>
        </div>

        <div class="d-flex justify-content-between mt-1">
            <div>
                <span class="text-seconday fs-6 fw-lighter"><span class="fw-bolder"><%= user.followers.count %></span> Followers</span>
                <span class="text-seconday fs-6 fw-lighter ms-4"><span class="fw-bolder"><%= user.followees.count %></span> Following</span>
                <span class="text-seconday fs-6 fw-lighter ms-4"><span class="fw-bolder"><%= user.blabs.count %></span> Blabs</span>
            </div>
            <span class="text-secondary fs-6 fw-lighter">
                Joined <%= time_ago_in_words(user.created_at) %> ago
            </span>
        </div>
    </div>
</div>
