<!DOCTYPE html>
<html>
    <head>
        <title>Blabber</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

    <body class="container-fluid" >
        <%= render "shared/flash" %>
        <div class="row">
            <div class="col-3 p-4 border-end">
                <%= render "shared/navbar" %>
            </div>
            <div class="col-6 p-4">
                <%= yield %>
            </div>
            <div class="col-3 p-4 border-start">
                <%= render "shared/action_bar" %>
            </div>
        </div>
    </body>
</html>
